@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1> You Are Going To Delete This Department !! </h1>

<form asp-action="Delete">
    <input hidden asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Code" class="col-form-label"></label>
        <input  asp-for="Code" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input  asp-for="Name" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input  asp-for="DateOfCreation" class="form-control" readonly/>
    </div> 
        <input type="submit" asp-action="Delete"  class="btn btn-danger" value="Delete"/> |
        <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>



